<section class="task_section ">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <video class="video_player" controls>
          <source src="img/video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <h2 class="name_of_part first_item">Phyton Overview</h2>



        <p class="titlt_descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic fugiat accusantium dolore fugit libero quasi tempore saepe reiciendis rem quaerat aspernatur earum velit blanditiis, magnam quas incidunt aliquid dolorum, consectetur optio suscipit ab quae ullam similique odit. Provident maxime dolore quam cumque ea voluptatum vitae beator sit amet, consectetur adipisicing elit. Perferendis sint ullam pariatur neque quia perspiciatis quibusdam, minus nisi, delectus vitae itaque eos quidem fugiat, harum ipsa dolores sed incidunt. Dolor distinctio pariatur unde repudiandae in, a eius. Aperiam, perspiciatis ex, fugiat ad quibusdam explicabo nemo architecto voluptate non sunt repellat. ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eos possimus perferendis laudantium ea dolorem pariatur, ullam dol
          s possimus perferendis laudantium ea dolorem pariatur, ullam dolor, eum mollitia.</p>

        <p class="added ">Added at <span>21/12/2018 21:12</span></p>

        <!-- <span>Author: @<a href="profile.html" class="author">korishhhh</a></span> -->
      </div>
    </div>
  </div>
</section>
