<section class="course_descr_section ">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h2 class="course_descr_title">The Python Mega Course: Build 10 Real World Applications</h2>
        <p class="course_little_descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eos possimus perferendis laudantium ea dolorem pariatur, ullam dol
          s possimus perferendis laudantium ea dolorem pariatur, ullam dolor, eum mollitia.</p>
        <span>Author: @<a href="" routerLink="/profile" class="author">korishhhh</a></span>
      </div>
    </div>
  </div>
</section>



<div class=" current_course_page">
  <div class="container">
    <div class="row">

      <div class="col-md-10  offset-md-1">
        <div class="part_right part">

          <h2 class="name_of_part first_item" >Requirements: </h2>
          <ul class="req_block">
            <li>English Basic</li>
            <li>Basic drawing skills</li>
            <li>A desire to learn how to paint anything</li>
          </ul>


          <h2 class="name_of_part">Description: </h2>

          <div class="descr_block">
            <p>The Ultimate Guide to Digitally Painting Everything will show you how to paint everything from metal, to water and from fur to feathers. This course will enhance or give you skills in the world of digital painting - or your money back</p>
          </div>

          <h2 class="name_of_part">List of Topics in this course: </h2>

          <ul class="list_of_topics">

            <li class="topic_item">
              <a href="" routerLink="/current_task"><span class="topic_title">Phyton Overview</span></a>
            </li>
          </ul>


        </div>
      </div>
    </div>
  </div>
</div>
