<div class="container main_content course_main">
  <div class="row">

    <div class="col-md-8 ">
      <div class="part_right part">

        <h2 class="name_of_part first_item">Available Courses:</h2>

        <div class="course_item">
          <h2 class="title_of_item">English for Begginners</h2>
          <p class="descr_of_course">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta excepturi perspiciatis iusto dignissimos sit a earum aspernatur facilis, suscipit, aperiam delectus eum dolores. Quam corrupti pariatur quis ipsum consequuntur voluptatum laborores ratione! Quia laudantium quod deleniti, esse explicabo, adipisci reiciendis repudiandae earum provident quo corporis laborum neque quas. Asperiores quidem molestiae adipisci, libero enim iusto placeat eos illum, vel quod officiis rem, similique iure ad, ab soluta ipsa obcaecati unde harum numquam. Dolor id culpa excepturi hic quod distinctio similique dicta earum unde reiciendis.</p>

          <a class="learn_but" routerLink="/current_course">Learn</a>

        </div>

      </div>
    </div>
    <div class="col-md-4 ">
      <div class="part_left part">
        <button class="create">Create</button>
      </div>
    </div>
  </div>
</div>
