<div class="container main_content course_main">
  <div class="row">

    <div class="col-md-8 ">
      <div class="part_right part">

        <h2 class="name_of_part first_item">Available Courses:</h2>

        <div class="course_item" *ngFor="let course of courses">
          <h2 class="title_of_item">{{course.title}}</h2>
          <p class="descr_of_course">{{course.titleDescription}}</p>

          <a class="learn_but" routerLink="/current_course">Learn</a>

        </div>

      </div>
    </div>
    <div class="col-md-4 ">
      <div class="part_left part">
        <button class="create">Create</button>
        <!--<a class="user_name"></a>-->
      </div>
    </div>
  </div>
</div>
