<div class="top_line">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list_of_pages">
          <li class="page_item"><a href=""  routerLink="/profile" class="page_item_link">Home</a></li>
          <li class="page_item"><a href="" routerLink="/messages" class="page_item_link">Messages</a></li>
          <li class="page_item"><a href="" routerLink="/courses" class="page_item_link">Courses</a></li>
          <li class="page_item"><a href="" routerLink="/friends" class="page_item_link">Friends</a></li>
        </ul>
        <div class="top_search">
          <input type="text" placeholder="Search" />
          <button><i class="fa fa-search search-icon"></i></button>
        </div>
      </div>
      <div class="col-md-4">
        <a href="#" class="log_out_but">Settings</a>
      </div>
    </div>
  </div>
</div>
